<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Gerenciador de Tarefas</span>
</nav>
<h1>Nova Tarefa</h1>

<%= render 'form', tarefa: @tarefa %>

<%= link_to 'Back', tarefas_path %>
