// Place all the styles related to the Tarefas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
	background-color: #216778;
	padding: 2%;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
h1,h2{
	text-align: center;
	color: #216778;
	margin-top: 80px;
	margin-bottom: 40px;
}

.login h2{
	text-align: center;
	color: #216778;
	margin-top: 150px;
	margin-bottom: 40px;
}

table{
	margin: 0 auto;
}

h3 .button {
    color: #216778;
    text-decoration: none;
    font-size: 19px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 10%;
    padding: 10px 16px;
    display: table;
    margin: 0 auto;
    margin-top: 60px;
 }

 h3 .button:hover{
 	background-color: #216778;
 	color: #fff;
 }

tr th{
	color:#216778;
	background-color: #D3D3D3; 
}

.navbar-text{
	float:right;
	margin-top:0;
}

footer{
	background-color: #216778;
	font-family: sans-serif;
	color: #fff;
	overflow: hidden;
	margin-top: 150px;
	padding: 40px;
	clear: both;
}

footer .navbar-link{
	font-family: sans-serif;
	color: #fff;

}

td{
	padding:10px 5px 7px;
}


tbody tr td .button2{
	background-color: green;
	color: #fff;
	text-decoration: none;
	padding: 5px 8px;
	border-radius: 2px;
	border: none;
}

tbody tr td .button3{
	background-color: red;
	color: #fff;
	text-decoration: none;
	padding: 5px;
	border-radius: 2px;
	border: none;
}

form{
	display: table;
	margin:0 auto;
	width: 34%
}

.field{
	width: 400px;
	
}

input{
	width: 117%;
	padding: 7px 50px;
	border-style: dotted;
	border-radius: 4px;
	padding:12px;
	font-size: 12px;
    color: grey;
    border-width: 0.5px;
    border-color: #216778;
}

form .actions input{
	border-style: none;
	background-color: #216778;
	color: #fff;
	padding: 15px;
	width: 154px;
	margin-left: 173px;
}

select{
	padding: 7px;
	border-style: none;
    border-radius: 4px;
    background-color: #216778;
    color: #fff;
 	position: relative;
    width: 130px;
    left: 57px;


}

.cancel input{
    width: 96%;
    border-style: none;
    background-color: #216778;
    border-radius: 4px;
    padding: 11px;
    font-size: 12px;
    color: #fff;
    float: left;
    margin-top: 10px;
    font-size: 15px;

}

 .cancel input:hover{
 	background-color: #D3D3D3;
 	color: #216778;
 }

 .check{ 
    width: 15px;
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-right: 7px;
    clear: both;
}

